<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{index::layout(~{::div})}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="right_col" role="main">
    <div class="clearfix"></div>
    <div class="row">
        <div class="col-md-12 col-sm-12 ">

            <div id="alert-container" style="position: fixed; right: 1px; z-index: 1000">

            </div>
            <div class="x_panel">
                <div class="x_title">
                    <h2>Category</h2>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <br/>
                    <form id="form-submit" th:object="${category}" data-parsley-validate
                          class="form-horizontal form-label-left">

                        <div class="item form-group">
                            <label class="col-form-label col-md-3 col-sm-3 label-align" for="name">Name*
                            </label>
                            <div class="col-md-6 col-sm-6 ">
                                <input th:field="*{name}" type="text" id="name"
                                       name="name" required="" class="form-control">
                            </div>
                        </div>
                        <div class="item form-group">
                            <label class="col-form-label col-md-3 col-sm-3 label-align" for="code">Code*
                            </label>
                            <div class="col-md-6 col-sm-6 ">
                                <input th:field="*{code}" type="text" id="code"
                                       name="code" required="" class="form-control">
                            </div>
                        </div>
                        <div class="item form-group">
                            <label for="description"
                                   class="col-form-label col-md-3 col-sm-3 label-align">Description</label>
                            <div class="col-md-6 col-sm-6 ">
                                <input th:field="*{description}"
                                       id="description" class="form-control" type="text" name="description" required="">
                            </div>
                        </div>

                        <div class="ln_solid"></div>
                        <div class="item form-group">
                            <div class="col-md-6 col-sm-6 offset-md-3">
                                <button type="button" onclick="history.back()" class="btn btn-primary">Cancel</button>
                                <button class="btn btn-success" id="btnAddOrUpdate">
                                    <span th:text="${category.code != null ? 'Update' : 'Add'}"></span>
                                </button>
                            </div>
                        </div>
                        <input type="hidden" th:field="*{id}" id="id" name="id">
                    </form>
                </div>
            </div>
        </div>
    </div>

    <script>
        let cateURL = '/category/list';
        $('#btnAddOrUpdate').click((e) => {
            e.preventDefault();
            let data = {};
            let formData = $('#form-submit').serializeArray();
            $.each(formData, function (i, v) {
                data[v.name] = v.value;
            })
            let id = $('#id').val();
            if (id === "") {
                addCategory(data);
            } else {
                updateCategory(data, id);
            }
        })

        function addCategory(data) {
            $.ajax({
                url: '/category',
                type: 'POST',
                headers: {
                    'Authorization': `Bearer ${localStorage.getItem("token")}`,
                },
                contentType: 'application/json',
                data: JSON.stringify(data),
                dataType: 'json',
                success: function () {
                    let error = "Add successfully !!!";
                    toast({message: error, type: "success"})
                    $("#name").val("");
                    $("#code").val("");
                    $("#description").val("");
                },
                error: function (xhr) {
                    if (xhr.status === 400) {
                        let errorMessages = JSON.parse(xhr.responseText);
                        let error = "";
                        errorMessages.forEach(function (errorMessage) {
                            error += errorMessage + "\n";
                        });
                        toast({message: error, type: "danger"})
                    }
                }
            })
        }

        function updateCategory(data, id) {
            let url = '/category/' + id;
            $.ajax({
                url: url,
                type: 'PUT',
                headers: {
                    'Authorization': `Bearer ${localStorage.getItem("token")}`,
                },
                contentType: 'application/json',
                data: JSON.stringify(data),
                dataType: 'json',
                success: function (result) {
                    window.location.href = cateURL + '?success';
                },
                error: function (xhr) {
                    if (xhr.status === 400) {
                        let errorMessages = JSON.parse(xhr.responseText);
                        let error = "";
                        errorMessages.forEach(function (errorMessage) {
                            error += errorMessage + "\n";
                        });
                        toast({message: error, type: "danger"})
                    } else if (xhr.status === 404) {
                        let error = "Category not found";
                        toast({message: error, type: "danger"})
                    }   else if (xhr.status === 403) {
                        let error = "You don't have permission to access this resource";
                        toast({message: error, type: "danger"})
                    }
                }
            });
        }

        function toast({message = "", type = "error"}) {
            let alertContainer = $("#alert-container");
            if (alertContainer.length) {
                const toast = $("<div></div>");
                toast.addClass(`alert alert-${type}`);
                toast.css("animation", "slideInLeft ease 0.3s, fadeOut linear 1s 2s forwards");
                toast.css("white-space", "pre-wrap");
                toast.text(message);
                alertContainer.append(toast);

                setTimeout(function () {
                    toast.remove();
                }, 3000);
            }
        }
    </script>
</div>
</body>
</html>